body{
    background-color: black;
    font-size: 14px;
}

.logo{
    width: 100px;
}
.cima{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.cadastro{
    color: #d9d9d9;
}
.campo{
    background-color: #d9d9d9;
    width: 70%;
    height: 35px;
    border-radius: 10px;
}
.logoMenu{
    width: 4rem ;
}
.marcas {
    display: flex;
    justify-content: space-around;
    background-color: #3a3a3a;
    padding: 10px;
}